<div class="main-header adjust-scroll-lock">
    <nav>
        <button class='scroll-item-btn btn btn-light btn-sm' type="button" data-event-type='modal'
                data-open-modal="true" data-content-type='modal'>MODAL
        </button>
        <button class='scroll-item-btn btn btn-light btn-sm' type="button" data-event-type='modal'
                data-open-modal="true" data-content-type='card'>CARD EXPANDED
        </button>
        <button class='scroll-item-btn btn btn-light btn-sm' type="button" data-event-type='modal'
                data-open-modal="true" data-content-type='card' data-animate="true">CARD ANIMATED
        </button>
    </nav>
</div>
<div id='scroll-item-container'></div>
