//#8
$Primary-050: #E6F6FF;
$Primary-100: #BAE3FF;
$Primary-200: #7CC4FA;
$Primary-300: #47A3F3;
$Primary-400: #2186EB;
$Primary-500: #0967D2;
$Primary-600: #0552B5;
$Primary-700: #03449E;
$Primary-800: #01337D;
$Primary-900: #002159;
$Neutral-050: #F5F7FA;
$Neutral-100: #E4E7EB;
$Neutral-200: #CBD2D9;
$Neutral-300: #9AA5B1;
$Neutral-400: #7B8794;
$Neutral-500: #616E7C;
$Neutral-600: #52606D;
$Neutral-700: #3E4C59;
$Neutral-800: #323F4B;
$Neutral-900: #1F2933;
$Supporting-1-050: #E1FCF8;
$Supporting-1-100: #C1FEF6;
$Supporting-1-200: #92FDF2;
$Supporting-1-300: #62F4EB;
$Supporting-1-400: #3AE7E1;
$Supporting-1-500: #1CD4D4;
$Supporting-1-600: #0FB5BA;
$Supporting-1-700: #099AA4;
$Supporting-1-800: #07818F;
$Supporting-1-900: #05606E;
$Supporting-2-050: #FFE8D9;
$Supporting-2-100: #FFD0B5;
$Supporting-2-200: #FFB088;
$Supporting-2-300: #FF9466;
$Supporting-2-400: #F9703E;
$Supporting-2-500: #F35627;
$Supporting-2-600: #DE3A11;
$Supporting-2-700: #C52707;
$Supporting-2-800: #AD1D07;
$Supporting-2-900: #841003;
$Supporting-3-050: #FFE3E3;
$Supporting-3-100: #FFBDBD;
$Supporting-3-200: #FF9B9B;
$Supporting-3-300: #F86A6A;
$Supporting-3-400: #EF4E4E;
$Supporting-3-500: #E12D39;
$Supporting-3-600: #CF1124;
$Supporting-3-700: #AB091E;
$Supporting-3-800: #8A041A;
$Supporting-3-900: #610316;
$Supporting-4-050: #FFFBEA;
$Supporting-4-100: #FFF3C4;
$Supporting-4-200: #FCE588;
$Supporting-4-300: #FADB5F;
$Supporting-4-400: #F7C948;
$Supporting-4-500: #F0B429;
$Supporting-4-600: #DE911D;
$Supporting-4-700: #CB6E17;
$Supporting-4-800: #B44D12;
$Supporting-4-900: #8D2B0B;
